$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);
/*
Below Week Four, Task Three of Three, 2/6
In your styles.scss file, create a new color variable at the top, named $color-teal. Give it the value of #17A2B8.

*/

$color-teal: #17A2B8;
/*
Above Week Four, Task Three of Three, 2/6
In your styles.scss file, create a new color variable at the top, named $color-teal. Give it the value of #17A2B8.

*/

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;


body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header {

 h2 {
    color: $color-pale;
}

}

.site-footer {
    background-image: linear-gradient($color-pale, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark {
    background-color: $color-mid;
}

.tab-content {
    border: 1px solid #000;
    border-top: none;
    padding: 10px;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.carousel-caption {
    background-color: $color-black-transparent;
}

.carousel {
    border: solid $color-secondary;
}

.chooser {
    color: white;
}




/*
Below Week Four, Task Three of Three, 3/6
At the bottom of the styles.scss file, use the nesting functionality of Sass to set up CSS rules for the Reserve and Login modals, using their ids to set up the first level of the nesting, then the class "modal-header" for the inner level. 
Refer back to how you used the element "header" for the first level of nesting previously, then the element "h2" for the inner level, so that you were only targetting the h2 element inside the header element.
This will be similar, except that you are using IDs and classes instead of element names as your selectors.
*/

/*
Below Week Four, Task Three of Three, 4/6
Write the rule for the Reserve modal's modal-header so that it uses the background color of $color-teal. Also set it up to have white text.
*/

#reserveModal {
    .modal-header {
        background-color: $color-teal;
        color: white;
    }
}

/*
Above Week Four, Task Three of Three, 4/6
Write the rule for the Reserve modal's modal-header so that it uses the background color of $color-teal. Also set it up to have white text.
*/

/*
Below Week Four, Task Three of Three, 5/6
Write the rule for the Login modal's modal-header so that it uses the background color of $color-mid. Also set it up to have white text.
*/

#loginModal {
    .modal-header {
        background-color: $color-mid;
        color: white;
    }
}

/*
Above Week Four, Task Three of Three, 5/6
Write the rule for the Login modal's modal-header so that it uses the background color of $color-mid. Also set it up to have white text.
*/


/*
Above Week Four, Task Three of Three, 3/6
At the bottom of the styles.scss file, use the nesting functionality of Sass to set up CSS rules for the Reserve and Login modals, using their ids to set up the first level of the nesting, then the class "modal-header" for the inner level. 
Refer back to how you used the element "header" for the first level of nesting previously, then the element "h2" for the inner level, so that you were only targetting the h2 element inside the header element.
This will be similar, except that you are using IDs and classes instead of element names as your selectors.
*/

/*
Above Week Four, Task Three of Three, 6/6
Run npm start and confirm that your SCSS is compiled to CSS and that the colors render correctly, as shown in the screenshot below.
Match with screenshot was verified before submission of student-author (me, Franklin Bueno)...
*/